Package: libedit2-dbgsym
Source: libedit
Version: 3.1-20180525-2~exp2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: LLVM Packaging Team <pkg-llvm-team@lists.alioth.debian.org>
Installed-Size: 198
Depends: libedit2 (= 3.1-20180525-2~exp2)
Breaks: libedit2-dbg (<< 3.1-20180525-2~)
Replaces: libedit2-dbg (<< 3.1-20180525-2~)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libedit2
Build-Ids: e83dc657f18eed07adf92e7ac68e2d17bd8a0fa3
